.__category_titule{
   text-align: center;
   margin: 0;
   
   color: aliceblue;
   margin: 0;
   

   
}
.category-line{
   width: 100%;
   background: #000;
}
.category-container{
   height: 80px;
   background: #b8380b;
  align-items: center;
   vertical-align: middle;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px;
   padding-right: 0px;
}
.category-img{
   height: 112px;
}



