.__menu_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
}
.price{
    font-weight: bold;
    color: $font-secundary;
}